* { 
    font-family: monospace;
/*    border: 1px solid red;*/
}
span, h1, h2, h3, h4, h5, h6 {
    color: white;
}
body {
    background-color: black;
}
.in {
    font-size: larger;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.box {
    margin: 2px;
    border-radius: 10px;
}
button {
    height: 40px;
    width: 80px;
    font-size:large;
    cursor:pointer;
    box-shadow: -5px -5px 1px inset grey;
}
.buttongroup {
    width: fit-content;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.right {
    transform:translate(-4px, 0px)
}